.organisation-place-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.organisation-place{
    font-size: 27px;
    font-family: "Amatic-Regular";
    color: white;
}

.map-block{
    height: 70vh;
    padding: 10px;
}

#map{
    width: 100%;
    height: calc(70vh);
    background: #999999;
}

.trash-type-button{
    border: none;
    background-color: #E0E0E0;
    width: 50px;
    height: 50px; 
    border-radius: 100%;
    position: relative;
    font-size: 30px;
}

.trash-type-button > img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35px;
}

.trash-buttons{
    display: flex;
    margin-top: 20px;
}

.between{
    justify-content: space-between;
}

.not-between > button:not(:first-child){
    margin-left: 11%;
}

.serch-block{
    display: flex;
    position: relative;
    padding: 5px 15px;
    align-items: center;
    background: white;
    border-radius: 100px;
}

.serch-block > img{
    width: 20px;
    margin: 0 10px;
}

.serch-block > input{
    width: 100%;
    background: transparent;
    border: none;
    font-size: 18px;
    outline: none;
}

.clear-input{
    background: transparent;
    border: none;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

.clear-input > img{
    width: 25px;
}

footer{
    height: 5vh;
    margin: 0 40px;
}

.footer-line{
    border: solid var(--gray);
    border-width: 1px 0 0 0;
    padding: 10px;
    text-align: center;
    color: #CFCFCF;
}

.organisation-info-block, .trash-type, .nearest-points-block{
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 100px 0 100px 0;
    background: #BBE639;
    padding: 0px 40px 40px 40px;
    box-sizing: border-box;
    display: none;
    z-index: 3;
}

.trash-type, .nearest-points-block{
    display: block;
    z-index: 2;
    padding: 20px 40px 40px 40px;
}



.organisation-swipe{
    margin: auto;
    width: 35px;
    height: 3px;
    background: white;
    display: block;
    border: none;
}

.organisation-swipe-block{
    display: flex;
    flex-direction: row;
    height: 30px;
}

.organisation-name{
    font-family: "Amatic-Regular";
    color: white;
    font-size: 33px;   
}

.organisation-name-block{
    position: relative;
    display: inline-block;
    margin-top: 10px;
}

.organisation-token{
    background: #00C5FA;
    padding: 5px 15px;
    border-radius: 100px;
    font-size: 28px;
    font-family: "Amatic-Regular";
    color: white;
    white-space: nowrap;
}

.center-text{
    text-align: center;
}

.organisation-time-block{
    display: flex;
    color: white;
    align-items: center;
}

.organisation-time-text{
    font-size: 27px;
    font-weight: bold;
    font-family: "Amatic-Regular";
}

.organisation-time{
    font-size: 20px;
    font-family: "Amatic-Regular";
    margin-left: 20px;
}

.tel{
    font-family: "Amatic-Regular";
    color: white;
    font-size: 27px;
    text-decoration: none;
}

.line{
    display: flex;
    align-items: center;
}

.line > img{
    margin-right: 20px;
    width: 20px;
}

.organisation-mail{
    color: white;
    font-size: 22px;
    font-family: "Yu Gothic UI";
}

.organisation-type-block{
    display: flex;
    justify-content: center;
    margin: 15px 0;
    display: none;
}

.organisation-type{
    width: 50px;
    height: 50px;
    background: white;
    position: relative;
    border-radius: 100%;
}

.organisation-type:not(:first-child){
    margin-left: 20px;
}

.organisation-type > img{
    width:  35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.photo-block{
    position: relative;
    width: 100%;
    height: 155px;
    background: white;
    overflow-x: scroll;
    display: flex;
    margin: 20px 0;
    display: none;
}

.photos{
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
}

.photos > img{
    height: 155px;
}

.add-photo{
    border: none;
    background: #000000;
    height: 155px;
    width: 66px;
    position: relative;
}

.add-photo > img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35px;
    display: block;
}

.mail-block{
    display: none;
}

.trash-change{
    font-family: "Amatic-Regular";
    font-size: 28px;
    margin: 10px 0;
    color: white;
}

#points-near{
    background: #00C5FA;
    color: white;
    border: none;
    border-radius: 100px;
    padding: 3px 25px;
    font-size: 28px;
    font-family: "Amatic-Regular";
    margin-top: 20px;
}

#points-near > img{
    width: 25px;
    margin-right: 10px;
}

.tetrapack{
    background: #9C89FA;
}

.lamp{
    background: #D38DE0;
}

.bottle{
    background: #E6A139;
}

.battary{
    background: #00C5FA;
}

.bin{
    background: #69BEAA;
}

.nearest-line{
    display: flex;
    justify-content: space-between;
}

.nearest-center{
    align-items: center;
}

.nearest-top{
    align-items: flex-start;
}

.nearest-organisation-name{
    font-family: "Amatic-Bold";
    font-size: 33px;
}

.nearest-organisation-points{
    background: #00C5FA;
    padding: 0 15px;
    font-family: "Amatic-Regular";
    font-size: 23px;
    color: white;
    border-radius: 100px;
}

@font-face{
    font-family: "Amatic-Bold";
    src: url("../fonts/AmaticSC-Bold.ttf");
}

@font-face{
    font-family: "Amatic-Regular";
    src: url("../fonts/AmaticSC-Regular.ttf");
}